label {
  font-size: 22px;
  color: #495057;
  width: 100%;
  line-height: 37px;
}

#addBookBtn {
  margin-bottom: 20px;
}

.filter-toggles {
  display: flex;
  justify-content: left;
}

.filter-btn {
  border-radius: 20px;
  margin-left: 10px;
  padding: 7px 10px;
}

tbody tr {
  transition: background-color 200ms ease;
}

tbody tr.checked-out {
  background-color: #3333;
}

tbody tr:hover {
  background-color: #007bff55;
}

tbody tr.checked-out:hover {
  background-color: #3334;
}

@media (min-width: 768px) {
  label {
    border-bottom: 1px solid #ced4da;
    font-size: 18px;
  }

  .filter-btn {
    padding: 0 10px;
  }
}
