{% load static %}
<!doctype html>
<html lang="en">

<!--
Hayes Family BookTracker app
Author: Zac Hayes
Copyright 2019
-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BookTracker</title>

  <!-- Libraries -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %}">
  {% block styles %}{% endblock %}

  <!-- Scripts -->
  <script src="{% static "scripts/main.js" %}"></script>
  {% block scripts %}{% endblock %}
</head>
<body>
{% block nav %}
  <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-book-reader"></i> BookTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link {% if current_page == "Home" %}active{% endif %}" href="/">Home</a>
        <a class="nav-item nav-link {% if current_page == "People" %}active{% endif %}" href="/people">People</a>
        <a class="nav-item nav-link {% if current_page == "Checkouts" %}active{% endif %}" href="/TODO">Checkouts</a>
        <form id="logoutForm" class="form-inline" method="post" action="/logout">
          <a class="nav-item nav-link" href="javascript:void(0);" onclick="$('#logoutForm').submit();">Logout</a>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

<div class="m-3 m-md-4">
  {% block content %}{% endblock %}
</div>
</body>
</html>
